/* genberal */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}
/* barra d nav*/
.navbar {
  background-color: #ff0000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.navbar img {
  max-width: 150px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}


/* secciones */
.hero-section {
  background-color: #f0f0f0;
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
  max-width: 1000px;
  margin: 20px auto;
}

.hero-section h1 {
  font-size: 36px;
  color: #ff0000;
}

.hero-section p {
  font-size: 18px;
  color: #333;
}

.hero-section img{
width: 100%;
height: 100%;
}

.btn {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

.productos-destacados {
  text-align: center;
  margin: 50px 20px;
}

.productos-destacados h2 {
  color: #ff0000;
  font-size: 28px;
}

.productos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  gap: 20px;
}

.producto {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: #333;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.producto img {
  max-width: 100px;
  height: auto;
}

.producto h3 {
  color: #ff0000;
}

.producto p {
  color: #333;
}
/*patas*/
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;

}

/* pal cel */
@media (max-width: 768px) {
  .navbar-links {
    display: none; 
  }

  .productos-container {
    flex-direction: column;
    align-items: center;
  }

  .producto {
    width: 80%; 
  }

  .hero-section h1 {
    font-size: 28px; 
  }

  .hero-section p {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
    padding: 8px 16px;
  }

  footer {
      padding: 10px;
      font-size: 14px;
  }
}


